body {
  background-image: url("./856f31d9f475501c7552c97dbe727319.jpg");
}

h1 {
  background-color: #dd5c5c ;
  width: 500px;
  margin: 0 auto;
}
h2 {
  text-align: left;
  width: 800px;
  margin: 0 auto; 
}

.App {
  text-align: center;
}

.initial h1{
  font-weight: 900;
  letter-spacing: 2px;
}
.initial h2{
  font-weight: 500;
  font-family:  Times, serif;
   font-size: 25px;
   letter-spacing: 1px;
}
.data {
  font-family: Arial, Helvetica, sans-serif;
  background-color:  #dd5c5c;
  font-size: 30px;
  font-weight: 500; 
  width: 800px;
  height: 420px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 0px;
  border-radius: 10px;
}
.data form {
  display: inline-block;
  height: 170px;
  width: 200px;
}
.data form input {
  height: 25px;
  width: 100px;
} 
.button {
  width: 8.11rem;
  padding: .77rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#standard {
   position: relative;
   left: 60px; 
   
}
#metric {
  position: relative;
  right: 60px;
  
}
#bodymass {
  margin-top: 50px;
  font-weight: bold;
  font-size: 40px;
}
.results p {
  
  width: 370px;
  margin: 0 auto;
}

.resultsImg img{
  height: 300px;
  border-radius: 20px;
}
.weight {
  margin-top: 50px;
}

.weight p {
  margin-bottom: 50px;
  font-size: 40px;
  width: 300px;
  font-weight: 700;
  background-color: yellow;
}

.results button {
  font-size: 30px;
  margin: 30px;
  height: 75px;
  width: 200px;
}